@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px; 
}

body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Orbitron';
  background-color: #00243D;
  color: whitesmoke;
  line-height: 2rem;
}

header {
height: 6rem;

  .nav-menu {
    top:0;
    width: 100%;
    position: fixed;

    .nav-menu__items {
      background-color: #00375A;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    
      a {  
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      width: 6rem;
      height:6rem;
      cursor: pointer;
    
      .nav-menu__icon {
        width: 3rem;
        filter: invert(48%) sepia(13%) saturate(3207%) brightness(120%) contrast(90%);
      }
    }

    a:link {
      color: white;
      text-decoration: none;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    a:visited {
      color: red;
    }

    a:hover {
      color: orange;
      filter: sepia(50%);
    }

    }
  }
}

main {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 100%;
  height: 100%;

  .main__content {
    grid-column: 2 / 4; 
    grid-row: 1 / span 2;
    background-color: rgba(215, 215, 215, 0.695);
    background-image: url('/portfolio/img/city-nighttime.jpg'), linear-gradient(to right, red, blue, orange, green);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-blend-mode: multiply;
    padding: 2rem;
    border: solid 0.5rem whitesmoke;

  
  .main__content__introduction {
    -webkit-text-stroke: 0.5px black;
    width: 15rem;
  } 
}

.box {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #00375A;


  .box__links-nav {
    display: flex;
    align-items: center;

    .box__link:link {
      text-decoration: none;
      
      .box__social-icons {
        margin: 1rem;
        width: 2rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        border-radius: 50%;
      }
    }
  }
} 
}


footer {
  grid-row: 3 / 4;
  grid-column: 1 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
 
 
  .copyright {
  margin-right: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}
}














